@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body,
#root {
  display: grid;
  justify-items: center;
  align-content: space-between;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: #323232;
  font-family: 'Source Sans Pro', sans-serif;
}

.preview {
  z-index: 1;
  margin-right: 15px;
  margin-left: 15px;
  min-height: 60%;
  animation: 2s ease-in-out;
  transition: 0.5s;
  cursor: pointer;
}

.highlight {
  border: 2px solid rgb(200, 50, 12);
  min-height: 90%;
  animation: 2s ease-in-out;
  transition: 0.5s;
}

.preview-small:hover {
  min-height: 70%;
  animation: 2s ease-in-out;
  transition: 0.5s;
}

.arrow {
  color: #00bf9c;
  cursor: pointer;
  z-index: 3;
  width: 0.9em !important;
  height: 0.9em !important;
}

.arrow:hover {
  width: 1em !important;
  height: 1em !important;
  transition: 0.5s;
  animation: 2s ease-in-out;
}

.DefaultPlayer {
  height: 10%;
}

.scroll-right {
  transform: translateX(-400px);
}

.carousel {
  display: inline-flex;
  width: 90%;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.video-player {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: auto;
}

.slider {
  padding: 0px 80px;
  display: block;
  height: 20vh;
  width: 100vw;
  border-bottom: 2px solid rgb(111, 29, 166);
}
