@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body,
#root,
.app {
  display: grid;
  justify-items: center;
  align-content: space-between;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: 'Press Start 2P', 'cursive';
  background: #323232;
  /* font-family: 'Source Sans Pro', sans-serif; */
}

.slider {
  display: block;
  outline-color: #ffb41f;
  /* height: 100%;
  width: 100%; */
  font-family: 'Source Sans Pro', sans-serif;
}

.header {
  border-radius: 35% !important;
  padding: 60px !important;
  display: flex !important;
}
.container-item {
  align-items: center;
  display: block;
  padding: 50px;
  width: 40%;
  height: fit-content;
  margin: 10px;
  border-radius: 25%;
}

.main-button {
  color: #ffb41f !important;
}

video,
image {
  object-fit: contain;
}

.preview {
  margin-right: 15px;
  margin-left: 15px;
}

.highlight {
  border: 2px solid rgb(200, 50, 12);
}
